#emoji{
    background-color: #006266;
    width: 500px;
    border-radius: 50px;
    margin-left:5%;
}
h1{
    color:white;
}
#emo{
    font-size: 30px;
}
#camera, #result{
    border-style:double;
    border-width: 5px;
    border-color:black;
    width: 350px;
    height: 300px;
}
#web, #snap{
    color:#6F1E51;
    background-color: white;
}
#pre, #pred{
    color:#1B1464 ;
    background-color: #9980FA; 
}
body{
    background-color: #ffb8b8;
    
}
button{
    background-color: #FD7272;
}